#logo {
	max-width: 5%;
	margin-left: 2%;
}

body{
	width: 100%;
	margin: 0;
	background-color: #f2f2f2;
}


form {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
	margin-top: 8%;
	padding-bottom: 10%;
	margin-left: 3%;
	width: 50%;
}

p {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	margin-top: 0;
}

.search {
	radius: 1%;
	width: 50%;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	padding-left: 0.3%;
	font-size: 20px;
}

h1 {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 25px;
}

h2 {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

#SearchTitle {
	padding-top: 5%;
}

h5 {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	margin-bottom: 0;
}

h6 {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	margin-bottom: 0;	
	margin-top: 1.5%;
}

li {
	list-style-type: none;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

#container_0 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: white;
}

#WVG_illustration {
	margin-right: 3%;
	max-width: 30%;
} 

.filtering {
	margin-left: 1.5%;
}

#filter_container {
	margin-left: 3%;
	max-width: 15%;
	margin-bottom: 3%;
	background-color: #ffffff;
	padding-bottom: 0.5%;
	padding-left: 1%;
	padding-top: 0.5%;
}

#filterheading {
	margin-left: 1.5%;
	padding-top: 5%;
}

label {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
}

#map {
	margin-left: 1.5%;
	margin-right: 3%;
}

#flexbox_container {
	display: flex;
	justify-content: space-between;
	}

#filter_container {
	width: 25%;
	height: 60%;
}

#map {
	max-width: 25%;
}

#restaurants {
	margin-left: 1.5%;
	max-width: 50%;

}
.scroll {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: 60%;
    overflow-y: auto;

}
.option {
	max-width: 30%;
	margin: 1.5%;
}
.option_photo {
	max-width: 100%;
}

.key_info {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	padding-top: 0;
}

iframe {
	padding-top: 1.5%;
}


.menu_flexbox {
	display: flex;
	justify-content: flex-start;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

.menu_item {
	max-width: 20%;
}

#gallery_img {
	max-width: 40%;
}

nav {
	display: flex;
	justify-content: space-evenly;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1.5%;
	background-color: white;
	margin-bottom: 1.5%;
	margin-top: 0;
}

#menu {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.restaurant_name {
	font-size: 35px;
	margin-bottom: 3%;
}

#restaurant_info {
	max-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	justify-content: space-between;
}

#contact {
	margin-left: 3%;
	margin-right: 3%;
	width: 50%;
}

#map_2 {
	margin-left: 3%;
	margin-right: 3%;	
	width:50%;
}

#review_img {
	max-width: 10%;
}

#reviews {
	margin-left: 10%;
	margin-top: 3%;
	width: 80%;
	background-color: white;
	margin-bottom: 3%;
}

.review_template {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 1.5%;
	margin-left: 1.5%;
	padding-bottom: 3%;
}

#review_content {
	margin-left: 1.5%;
}

#review_heading {
	margin-left: 1.5%;
	padding-top: 1.5%;
}